
@font-face {
    font-family: 'Montserrat Medium';
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}
@font-face {
    font-family: 'NunitoSans Regular';
    src: url(../fonts/NunitoSans-Regular/NunitoSans-Regular.ttf);
}
@font-face {
    font-family: 'WorkSans Regular';
    src: url(../fonts/WorkSans-Regular/WorkSans-Regular.ttf);
}