@import 'fonts.contact.css';

/* Root start */

:root {
    --nb700:'NunitoSans Bold';
    --mm500: 'Montserrat Medium';
    --nr400: 'NunitoSans Regular';
    --ws400: 'WorkSans Regular';
    --green: #007d2f;
    --grey: #787878;
    --black: #191919;
    --white: #ffffff;
    --white_dark: #f5f5f5;
    font-family: var(--nr400);
}




.wm {
    width: max-content;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}


::-webkit-scrollbar {
   width: 10px;
   background: var(--grey);
}
::-webkit-scrollbar-thumb {
   color: var(--green);
   border-radius: 30px;
   background: darkorange;
}
::selection {
   color: var(--green);
   background: var(--dark);
}





/* Root end */
/* ************************* */



/* Header start */


.header__nav-link {
    font-size: 12px;
    font-family: var(--mm500);
    color: var(--black);
    text-transform: uppercase;
    padding-left: 32px;
    transition: color 300ms;
}

.header__nav-link:hover {
    color: var(--green);
}

/* Header end */
/* **************************/



/* Main start */
.main__contact-info {
    font-family: var(--mm500);
    font-size: 30px;
    color: var(--black);
}

.main__contact-text {
    font-size: 16px;
    color: var(--grey);
    line-height: 24px;
}

.main-contact-link {
    font-size: 16px;
     color: var(--grey);
}

.span-info {
    font-family: var(--nb700);
    color: var(--black);
}


.main__contact {
    background: var(--white_dark);
    padding-top: 106px;
    padding-bottom: 100px;
}

.main__contact-yourtitle {
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid white;
    padding-top: 18px;
    padding-bottom: 19px;
    padding-left: 14px;
}

.main__contact-name, .main__contact-email {
    margin-right: 5px;
    margin-bottom: 30px;
    border: 1px solid white;
    padding-top: 18px;
    padding-bottom: 19px;
    padding-left: 14px;
  }
  
  .main__contact-yourtitle, .main__contact-comment, .main__contact-name, .main__contact-email {
      outline: none;
  } 
  
  .main__contact-comment {
      margin-bottom: 30px;
      border: 1px solid white;
      padding-bottom: 19px;
      padding-left: 14px;
      padding-bottom: 130px;
  }
  
.main__contact-yourtitle {
    margin-right: 0;
}
.main__contact-email {
    margin-right: 0;
}
  .contact-send {
      font-family: var(--mm500);
      font-size: 18px;
      color: var(--white);
      line-height: 9px;
      display: inline-block;
      text-transform: uppercase;
      background: var(--green);
      padding: 23px 25px 22px 25px;
      border: 1px solid white;
      margin-bottom: 100px;
      
  }
  
  .contact-send:focus {
      outline: none;
  }
  
  .contact-send:hover {
      color: var(--white);
  }

.main__contact-name .main__contact-email {
    margin-right: 0;
    margin-bottom: 30px;
    border: 1px solid white;
    padding-top: 18px;
    padding-bottom: 19px;
    padding-left: 14px;
}

.contact-map {
    width: 100%;
    height: 100%;
}

/* Main end */
/* ********************** */




/* Footer start */
.footer {
    background: var(--black);
}
.footer__title {
    padding-top: 99px;
    padding-bottom: 101px;
    
}
.footer__links {
    font-size: 15px;
    font-family: var(--nr400);
    line-height: 24px;
    color: #bcbcbc;
    max-width: 65px;
    
}
.footer_macintosh {
    color: var(--white);
    font-family: var(--mm500);
    font-size: 18px;
    
}
.footer__design {
    color: #bcbcbc;
    font-size: 15px;
    font-family: var(--nr400), var(--ws400);
    max-width: 237px;
}


.footer__information {
    margin-bottom: 10px;
}





.footer__info {
    font-size: 15px;
    color: #bcbcbc;
    font-family: var(--ws400), var(--nr400);
    margin-bottom: 0;
    max-width: 154px;
}
/* Footer end */

 @media (max-width:991px) {
    .footer__links {
        display: flex;
        flex-wrap: wrap;
        margin-left: 10px;
    }
    .footer__info {
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .footer_macintosh {
        text-align: center;
    }
    .footer__design {
        text-align: center;
    }
 }

@media (max-width:767px) {
    .main__contact-info {
        text-align: center;
    }
    .main__contact-text {
        text-align: justify;
    }
    .main-contact-link {
        text-align: center;
    }
}


@media (max-width:610px) {
.contact-send {
    font-size: 16px;
    padding: 20px 20px;
}
}

